body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F6F6F6;
}

.categoryCard {
  background-color: #FFFFFF;
  height: 400px;
  width: 200px;
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.postContainer {
  display: flex;
  justify-content: center;
  margin: 0;
}


/* postCard */

.postCard {
  background-color: #FFFFFF;
  width: 900px;
}

.postControls {
  width: 850px;
  padding-top: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.postHeader {
  padding-top: 60px;
  padding-left: 25px;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.postBody {
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: bold;
}

.up-arrow {
  height: 40px;
}

.down-arrow {
  height: 40px;
}

.deletePost {
  height: 30px
}

.editPost {
  height: 30px
}

.comment {
  border-bottom: 1px solid #000000;
}

#comment0 {
  border-top: 1px solid #000000;
}

.addPostButton {
  position:fixed;
  right:0;
  bottom:0;
  margin-right: 50;
  margin-bottom: 50;
}