body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F6F6F6;
}

.categoryCard {
  background-color: #FFFFFF;
  height: 400px;
  width: 200px;
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.postContainer {
  display: flex;
  justify-content: center;
  margin: 0;
}

.postCard {
  background-color: #FFFFFF;
  width: 900px;
}